.herbarium-detail {
    padding: 30px;
    background-color: slategray;
    width: 70%;
    display: flexbox;
    margin: 0 auto;
}

.herbarium-detail img {
    width: 30%;
    border-radius: 50%;
}

.herbarium-detail p {
    padding: 5px 70px;
}