.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    /* border-bottom: solid 3px lightgreen;
    border-top: solid 3px lightgreen; */
    padding: 20px 0;
}