.logo {
    position: relative;
    top: 0.7rem;
    left: 35%;
    font-size: 1.6rem;
    font-weight: 700;
    color: brown;
  }
  
   
.plantLogo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}  
  

a:link {
  color:  brown;;
}

a:visited {
  color:  brown;;
}

a:hover {
  color: green;
}

a:active {
  color: lightgreen;
}