.card {
    min-height: 200px;
    background-color: #ffffff;
    transition: background-color 1s ease;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}
  
  .card:hover {
    background-color: #e3e8e4;
  }

