
.cardBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  justify-content: space-around;
}
  

img {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}
  
.buttonDelete {
  cursor: pointer;
    margin-top: 15px;
    background-color: red;
    color: white;
    font-size: large;
}

h4 {
  color: brown;
}



