.detail-page {
    background-color: lightgreen;
    padding: 1rem;
  }
  
.detail-page .detail-page__header {
  display: flex;
}

.detail-page .detail-page__header .detail-page__header-name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: brown;
  text-decoration: underline;
}

.cardMessage {
  font-size: 1.3rem;
  margin: 1rem 0;
}
  

.messageBlock {
  margin: 1rem 0;
}


hr {
    width: 100%;
    height: 1px;
    background: black;
    border: none;
}