.herbarium-card {
    padding: 30px 50px;
    background-color: slategray;
    margin: 20px auto;
    width: 800px;

    text-align: left;

    align-items: center;
    justify-content: center;
    
}

.herbarium-card img {
    border-radius: 50%;
    width: 90%;
    display: flex;
    
    margin: auto;

    align-self: center;
}