* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tahoma', sans-serif;
}

.container {
  width: 40rem;
  margin: 0 auto;
  background-color: #c7d6dd;
  border: 1px solid #e3e3e3;
}

.container h1 {
  font-size: 1.2rem;
  padding: 1.2rem;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}

