body {
  margin: 0;
  font-family: 'Baloo Paaji 2';
}

h1,h2 {
  color: #526e35;
}

p {
  color: "#526e35";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
